




 
img#bgImage{
     float:center center;
     position:fixed;
     margin-left:none;
     margin-top:none;
     margin-right:none;
     margin-bottom:none;
     padding:none;
     width:100%;
     height:100%;
     max-width:100%;
     max-height:100%;
     overflow:auto;
     z-index:0;
}

ul#navBar{
     list-style-type:none;
     overflow:hidden;
     position:fixed;
     left:0;
     right:0;
     background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
     margin-left:none;
     margin-top:0;
     margin-right:none;
     padding-top:1%;
     padding-bottom:5%;
     z-index:1;
}

li.desktop{
     display:inline-block;
     text-align:center;
     float:left;
     margin-left:2%;
     margin-top:2%;
     margin-right:2%;
     margin-bottom:2%;
     z-index:1;
}

li#icons{
     float:right;
     margin-right:5%;
     overflow:visible;
     z-index:1;
}