





img#indexBGImage{
     float:left;
     width:100%;
     height:auto;
     left:4%;
     top:4%;
     right:auto;
     bottom:4%;
     margin-left:4%;
     margin-top:0;
     margin-right:0;
     margin-bottom:0;
     max-height:100%;
     z-index:1;
}

body{
    background:linear-gradient(135deg,#000000,#049B59)
    /*background-repeat:no-repeat;
    background-size:cover;
    z-index:0;*/
}

ul#navBar{
     list-style-type:none;
     overflow:hidden;
     position:fixed;
     left:0;
     right:0;
     margin-left:none;
     margin-top:0;
     margin-right:none;
     padding-top:1%;
     padding-bottom:5%;
     z-index:1;
}

li.desktop{
     display:inline-block;
     text-align:center;
     float:left;
     margin-left:2%;
     margin-top:2%;
     margin-right:2%;
     margin-bottom:2%;
     z-index:1;
}